body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: black;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0073e6;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.content {
    display: flex;
    font-size: large;
    justify-content: space-evenly;
    margin: 20px;
}

.dados-pessoais, .habilidades, .sobre-mim {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.dados-pessoais, .habilidades, .sobre-mim {
    width: 500px;
}

.dados-pessoais h2, .habilidades h2, .sobre-mim h2 {
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    animation: fadeIn 1s ease-in-out;
}

.dados-pessoais, .habilidades, .sobre-mim {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.dados-pessoais h2, .sobre-mim h2, .habilidades h2 {
    text-align: center;
}

.sobre-mim {
    max-width: 500px;
}

.dados-pessoais {
    max-width: 500px;
}
.dados-pessoais {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Descrição {
    text-align: left;
}




@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    color: black;
}
a:hover {
    color:blue;
}

.List {
    font-size: x-large;
}

img {
    scale: 60%;
    border: solid black;
    border-radius: 100%;
}




